html {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.row {
  background-color: #282c34;
  color: #FFFFFF;
}

.active label, .md-form label, .md-form.md-outline label {
  background-color: #282c34 !important;
}

.app-link {
  color: #61dafb;
}